h1 {
  /* r g b  */
  /* 0 -> 9 / a -> f */
  /* 20%/70%/40% white = all 100% */

  color: red;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 30px;
}

/* Universal selector */
* {
  color: green;
  text-transform: none;
}

/* Tag selector/Element selector */
h2 {
  color: red;
  text-align: center;
}

/* Attributes selector */
a[title="google"] {
  color: blue;
  text-decoration: none;
}

/* id selector */
#idselector {
  color: red;
  line-height: 30px;
  letter-spacing: 20px;
  text-indent: 50px;
  font-style: italic;
  text-transform: capitalize;
}

/* Class Selector */
.classselector {
  color: red;
  word: spacing 30px;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 25px;
}

/* desc selector */
.desc a {
  color: red;
}

/* child selector */
.child > a {
  color: red;
}

/* pseudo selector */
a:link {
  color: red;
  letter-spacing: 5px;
}

a:hover {
  counter-reset: yellow;
}

a:active {
  color: green;
}

a:visited {
  color: brown;
}

/* target */
:target {
  color: red;
  border: 1px solid blue;
  letter-spacing: 10px;
}

/* Border lesson */
.borderone {
  border: 7px solid red;
}

.bordertwo {
  border-top: 5px solid red;
  border-left: 5px dotted yellow;
}

.borderthree {
  /* border-style: solid; */
  /* all four  */
  /* border-style: solid dotted; */
  /* T&B / L&R */
  /* border-style: dashed dotted solid; */
  /* T / L&R / B */
  border-style: dotted double solid dashed;
  /* T / R / B / L  */
}

.borderfour {
  border-width: 20px 15px 10px 5px;
  border-style: dotted;
  border-color: red yellow;
}

/* Margin */
.margin {
  border: 5px solid red;
  /* margin: 40px */
  margin-top: 100px;
}

/* padding */
.padding {
  border: 2px solid black;
  /* padding: 40px 100px; */
  padding-top: 100px;
}

/* layout */
.inline {
  border: 2px solid red;
  /* width: 300px; */
  display: inline-block;
}

.block {
  border: 2px solid black;
  /* width: 300px; */
  display: inline-block;
}

/* float */
.floatleft img {
  width: 40%;
  float: left;
}
.floatright img {
  width: 40%;
  float: right;
}
